/* Style général des cartes */
.card {
    -fx-background-color: white;
    -fx-padding: 5px;
    -fx-border-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0, 0, 2);
    -fx-spacing: 15px;
    -fx-background-insets: 0px; /* Supprime l'effet d'ombre */

}


/* Titre des cartes */
.card-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

/* Labels d'effectif */
.effectif-homme {
    -fx-text-fill: red;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.effectif-femme {
    -fx-text-fill: orange;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.effectif-total {
    -fx-text-fill: yellow;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.effectif-promo {
    -fx-text-fill: green;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.effectif-recrutement {
    -fx-text-fill: blue;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

/* Tableau des employés */
.table-view {
    -fx-border-color: #ddd;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.table-view .column-header {
    -fx-background-color: rgba(185, 171, 255, 0.65);
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.text-field {
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-border-color: #6a5acd;
}

/* Calendrier */
.date-picker {
    -fx-font-size: 14px;
    -fx-border-color: #6a5acd;
}

/* Style du fond */
AnchorPane {
    -fx-background-color: #907AD6;
}
